<!DOCTYPE html>

<html lang="en">
	<head>
		<!--
			Jennifer Sipes
			IS300
			11/29/2017
			Module 6 - Individual Portfolio Page for GitHub (Updated from Module 1)
			HTML file
		-->
	
		<meta charset="UTF-8">
		<meta name="author" content="Jennifer Sipes">
		<meta name="description" content="IS300 Jennifer Sipes Portfolio" />
		<meta name="keywords" content="BASIS,BAS-IS,IS300,IS-300,portfolio" />
		
		<title>Jennifer Sipes Portfolio Page</title>
		
		<!-- Reference Profile page's external stylesheet -->
		<link href="profileStyle.css" rel="stylesheet" />
		
		<link href="Iconstreet-Halloween-Black-cat-00.ico" rel="shortcut icon" type="image/x-icon" />
		
	</head>
	
	<body>
		<div class="bgImage1">
		  <div class="caption">
			<span class="border">Jennifer Sipes</span>
		  </div>
		</div>

		<div id="profile">
		  <h2 id="profileHeading">Profile</h2>
		  
		  <hr id="wide" />
		  <hr id="narrow" />
		  
		  <div id="colContainer">
			<div id="column1">
				<h3>Educational Background</h3>
				<ul>
					<li>1997--High School Diploma, Bremerton Highschool, Bremerton, WA</li>
					<li>2001--Associates of Arts and Sciences, Olympic College, Bremerton WA</li>
					<li>Computer Information Systems, Web Development track, Olympic College, Bremerton, WA</li>
					<li>Bachelors of Applied Science-Information Systems program, Olympic College, Bremerton, WA</li>
				</ul>
				
				<h3>Relevant Job, Volunteer, Activity (clubs, events) Background</h3>
				<ul>
					<li>Phi Theta Kappa (PTK) member</li>
					<li>Internship: OC Communications and Web Services, Summer Quarter 2016</li>
				</ul>
				
				<h3>Social Media Presence</h3>
				<ul>
					<li>Facebook (prefer not place link)</li>
				</ul>
				
				<h3>Past or Current IT Projects</h3>
				<ul>
					<li>Past: CIS155-Group Project-Developed a Website focused on Military Movies</li>
					<li>Past: CIS255-Group Project-Developed a Website for a Hibachi Restaurant</li>
					<li>Current: IS300/IS350-Group Project-Developing a Website for BASIS Student Profiles</li>
					<li>Current: IS300/IS350-Individual Project-Developing a Website for DC Comics Character, Catwoman</li>
				</ul>
				
			</div>
			
			<div id="column2">
				<h3>IT Skill Set (technical and soft skills)</h3>
				<ul>
					<li>Customer Service skills</li>
					<li>Interpersonal skills</li>
					<li>Professional skills</li>
					<li>Verbal and Written Communication skills</li>
					<li>Technical writing skills</li>
					<li>Teamwork skills</li>
					<li>Organizing skills</li>
					<li>Integrity</li>
					<li>Responsible</li>
					<li>Takes initiative</li>
					<li>Self-directing</li>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>JavaScript/jQuery</li>
					<li>C#/C++/PHP</li>
					<li>ASP.NET</li>
					<li>SQL</li>
					<li>Microsoft Office Suite</li>
					<li>Adobe Photoshop</li>
				</ul>
				
			</div>
			
		  </div>
		  
		</div>

		<div class="bgImage2">
		</div>

		<div style="position:relative;">
		  <div class="colorBlock">
			<span class="special">Hobbies:</span> <blockquote>In my free time I enjoy drawing, scultping, crafting (I like to think of myself as a hot glue maven), organizing, decorating and watching movies.</blockquote>
		  </div>
		</div>

		<div class="bgImage3">
		</div>

		<div style="position:relative;">
		  <div class="colorBlock">
			<span class="special">IT Goals:</span> <blockquote>I hope to have access to the type of career that combines my creative talents with an industry that will continue to grow and evolve over the years. Additionally, I hope that a career in Web page development/design will give me flexibility via telecommuting, work from home, and/or freelance opportunities because my husband and I are planning to finally have a child after over 17 years of marriage.</blockquote>
		  </div>
		</div>

		<div class="bgImage1">
		  <div class="caption">
			<span class="border">Thank You!</span>
		  </div>
		</div>
		
		<footer>
			&copy; Jennifer Sipes ~&#9790;~ October 2017 ~&#9790;~ Olympic College BASIS Program
		</footer>

	</body>
	
</html>