 <!DOCTYPE html>
<html lang ="en-US">

	<head>

	<!--Tobiyah's Portfolio 
	    Author: Tobiyah Wilson
		Date: October 1, 2017
		IS300 Fall 2017
	-->
	<meta charset ="UTF-8">
	<title>myportfolio.html</title>
	<link rel="stylesheet" type="text/css" href="./TW/mynewstyle.css" /><!--stylesheet-->
	<link href="https://fonts.googleapis.com/css?family=Cinzel|Istok+Web" rel="stylesheet"><!--fonts used-->
	</head>

<body>
  <nav class="outer-col-1"><!--colomun to the left/blue-->
    <h3>Educational Background</h3>
       <ul class="a">
	    <li>Peninsula High School</li>
		<li>Tacoma Community College-Technical Degree in Horticulture</li>
	    <li>AAST in Web Development</li>
		<li>BASIS Bachelors in applied Science in Information Systems</li>
	   </ul>
	<h3>Past Employment</h3>
	   <ul class="a">
	    <li>Allstar Guitar- Ebay Sales/web and computer support</li>
	    <li>CJ Marine- Website/EBAY sales/EDDM Mailings</li>
		<li>CJ Rentals-Website/Booking</li>
		<li>Hidden Creek Blades- Website</li>
	   </ul>
    <h3>Volunteer Work</h3>
       <ul class="a">
	    <li>Crimestoppers-Events</li>
	    <li>Allstar Academy-Events</li>
	   </ul>	
	 
	 </nav>
  <div class="outer-col-2">
  	<header><h1>Tobiyah Fawn Wilson</h1></header><!--heading-->
    <div class="inner-row">
      <div class="inner-col">
    	<article><p><b>About me....</b></p><!--inner paragraph with bio-->
		<p>I am thirty five years old. I live in Port Orchard, Washington. I am currently enrolled at Olympic College. I am completing my Bacholors degree in Information Systems. The skills that I am striving to master are anything pertaining in Web Development.I have taken courses in HTML5, CSS3, PHP, Java and SQL.</p>
		<p> In the past I have worked on several academic projects peratining to the IT field. Some of these projects include building a restaurant website, building a movie review website and creating a database for a small compnay that includes employee information.</p>
		<p>I have also worked on websites for several small companies. They have included a Marine Shop, Snowmobile rental business and a Cabin rental business.</p>
		<p>I have aquired many soft skills from my life experience and work experience. My interpersonal skills come very naturally. These skills help me to navigate my enviroment and perform well and achieve my goals. These complemented with my hard skills make for a great team member. 
		</p>
		<p>My ideal first job after completion of my degree will to be developing and creating websites. My ten year goal would to be to own my business creating websites.
		</p>
		</article>
  		<footer><h2>Copyright 2017 &copy; Tobiyah Wilson</h2></footer><!--copyright footer-->
    	</div>
		<aside>
		<img src="./TW/blondMe.jpg" alt="tobiyahheadshot" width="200" height="300"><!--image-->
		<p><b> What I do for fun...</b></p><!--text under image-->
		<p>In my spare time I enjoy spending time with my family, reading and cooking.</p>
		 <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="Valid CSS!" />
          </a>
		</aside>
	 
    </div>
  </div>
</body>

</html>